* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content input {
    padding: 10px;
    width: 400px;
}